{% extends 'base.html' %}

{% block title %}Add Deck{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add deck</h1>
            <form class="form-horizontal" method="post" action="{% url 'decks_create' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add deck" class="btn btn-primary">
            </form>

                
        </div>
    </div>
</div>
{% endblock %}
