{% extends 'base.html' %}

{% block title %} Review {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Review</h1>
        </div>
        <div class="col-12">
            <form>
                <p id="question"></p>
                <div class="form-check">
                    <input
                        type="radio"
                        class="btn-check"
                        name="answer"
                        id="answer0"
                        autocomplete="off"
                        value="1"
                    />
                    <label
                        id="lanswer0"
                        class="btn btn-outline-primary"
                        for="answer0"
                        >1</label
                    >
                    <input
                        type="radio"
                        class="btn-check"
                        name="answer"
                        id="answer1"
                        autocomplete="off"
                        value="2"
                    />
                    <label
                        id="lanswer1"
                        class="btn btn-outline-primary"
                        for="answer1"
                        >2</label
                    >
                    <input
                        type="radio"
                        class="btn-check"
                        name="answer"
                        id="answer2"
                        autocomplete="off"
                        value="3"
                    />
                    <label
                        id="lanswer2"
                        class="btn btn-outline-primary"
                        for="answer2"
                        >3</label
                    >
                    <input
                        type="radio"
                        class="btn-check"
                        name="answer"
                        id="answer3"
                        autocomplete="off"
                        value="4"
                    />
                    <label
                        id="lanswer3"
                        class="btn btn-outline-primary"
                        for="answer3"
                        >4</label
                    >
                </div>
                
            </form>
            <button id="submit" class="btn btn-primary" onclick="newTry()">Next</button>
        </div>
        <div class="col-12">
            <a class="btn btn-primary" href="{% url 'users_profile' %}">Back</a>
        </div>
    </div>
</div>
<script>
    // definitions
    const repetitions = 5;
    let faces = {};
    let evaluation = {};
    let correct = 0;
    let face = 0;
    let saved = false;

    // access to html elements
    const question = document.getElementById("question");
    const buttons = [document.getElementById("answer0"), document.getElementById("answer1"), document.getElementById("answer2"), document.getElementById("answer3")]
    const answer0 = document.getElementById("lanswer0");
    const answer1 = document.getElementById("lanswer1");
    const answer2 = document.getElementById("lanswer2");
    const answer3 = document.getElementById("lanswer3");
    const answer = [answer0, answer1, answer2, answer3];
    const submit = document.getElementById("submit");

    {% for face in faces %}
        faces["{{ face.id }}"] = ["{{ face.face_one }}", "{{ face.face_two }}"];
    {% endfor %}


    {% for face in faces %}
        evaluation["{{ face.id }}"] = null;
    {% endfor %}

    const tries = []
    {% for face in faces %}
        for (let i = 0; i < repetitions; i++) {
            tries.push("{{ face.id }}");
        }
    {% endfor %}

    randomize(tries);

    function tryCard(){
        correct = getRandomInt03();
        face = tries.pop();
        question.innerHTML = faces[face][0];
        for (let i = 0; i < 4; i++) {
            buttons[i].checked = false;
        }

        answer0.innerHTML = "Lorem ipsum"
        answer1.innerHTML = "Lorem ipsum"
        answer2.innerHTML = "Lorem ipsum"
        answer3.innerHTML = "Lorem ipsum"

        answer[correct].innerHTML = faces[face][1]
    }
    function firstCard(){
        if(tries.length == 0){
            question.hidden = true;
            submit.hidden = true;
            for (let i = 0; i < 4; i++) {
                answer[i].hidden = true;
                buttons[i].hidden = true;
            }
            saved = true;
            return;
        }
        tryCard();
    }

    function  newTry() {
        // check if a button is selected
        if (!buttons[0].checked && !buttons[1].checked && !buttons[2].checked && !buttons[3].checked) {
            alert("Please select an answer");
            return;
        }
        // process the form
        if(buttons[correct].checked){
           if (evaluation[face] == null){
               evaluation[face] = 4;
            } else {
                evaluation[face] += 1;
            }
        } else {
            if (evaluation[face] == null){
                evaluation[face] = 1;
            } else {
                evaluation[face] -= 1;
            }
        }

        // go to next try
        if(tries.length == 0){
            saveData();
        }
        if (tries.length == 1){
            submit.innerHTML = "Submit";
        }
        tryCard();
    }

    function saveData(){
        // sanitize data
        for (let key in evaluation) {
            if (evaluation[key] > 5) {
                evaluation[key] = 5;
            }
            else if (evaluation[key] < 0) {
                evaluation[key] = 0;
            }
        }
        
        // send data
        fetch("{% url 'review' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify(evaluation)
        });

        saved = true;
        window.location.replace("{% url 'users_profile' %}");        
    }

    // Fisher-Yates shuffle
    function randomize(array) {
        for (let i = array.length - 1; i > 0; i--) {
            let j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
    }

    function getRandomInt03(){
        return Math.floor(Math.random() * 4);
    }

    window.onload = function() {
        firstCard();
    };
    
    window.onbeforeunload = function() {
        if (!saved) return "Are you sure you want to leave?";
    };

    window.onunload = function() {
        if (!saved) {
            saveData();
        }
    };
</script>
{% endblock %}
