{% extends 'base.html' %}

{% block title %}Add Card{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add card</h1>
            <form method="post" action="{% url 'cards_create' deck_id %}">
                {% csrf_token %}
                {{ form.as_div }}
                <input type="submit" value="Add card" class="btn btn-primary">
            </form>

                
        </div>
    </div>
</div>
{% endblock %}