{% extends 'base.html' %} {% block title %}Memecard - {{tag}} {% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{tag}}</h1>

            <div class="row">
                {% for deck in decks %}
                <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ deck.name }}</h5>
                        <p class="card-text">{{ deck.description }}</p>
                        <a
                            href="{% url 'decks_detail' deck.id %}"
                            class="btn btn-primary">
                        View Deck</a>
                        {% if user.is_authenticated %}
                        <form
                            action="{% url 'decks_subscribe' deck.id %}"
                            method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                        {% endif %}
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
