{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
            <p>
                Memecard is a flash card application that allows you to create
                your own flash cards and study them.
            </p>
            <p>
                You can shared your card decks with other users and add memes to
                the cards to make them more fun and memorable.
            </p>
        </div>
    </div>
</div>

{% endblock %}
